.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 90vh;
    width: 100vw;
    margin-top: 100vh;
    position: relative;
    overflow: auto;
    color: antiquewhite;
}

.portfolio-picture {
    width: 100%;
    /* Make the image take up 100% of the width of the parent container */
    height: auto;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
}

.content-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 80%;
    gap: 30px;
    margin-bottom: 10%;
    /* box-shadow: 0 19px 38px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .22);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); */
}



.clipped-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    background-color: #f0f0f0;
    background-image: linear-gradient(-135deg, #da52fc, #f2ce2e);
    /* Set the same background color as the "about" section */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    /* Adjust the polygon points as needed */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}

.picture-container {
    width: 330px;
    height: auto;
    /* border: 1px solid white; */
}

.text-container {
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    width: 600px;
    /* border: 1px solid white; */
    /* box-sizing: border-box; */

}


.content-wrap h1 {
    visibility: visible;
    opacity: 0;
}

.content-wrap h1.visible {
    margin-right: 70px;
    visibility: visible;
    opacity: 1;
    transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 0.3s;
}


.picture-container {
    visibility: visible;
    opacity: 0;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 30, 0, 1);
}

.picture-container.visible {
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 0.6s, transform 1s cubic-bezier(0.5, 0, 0, 1) 0.6s;

}

.text-container {
    visibility: visible;
    opacity: 0;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -30, 0, 0, 1);
}

.text-container.visible {
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 1s, transform 1s cubic-bezier(0.5, 0, 0, 1) 1s;
}

.picture-text-wrapper {
    display: flex;
    gap: 170px;
}


@media only screen and (max-width: 1700px) {
    .picture-text-wrapper {
        display: flex;
        gap: 130px;
    }
}




@media only screen and (max-width: 1400px) {

    .content-wrap {
        flex-direction: column;
    }


}







@media only screen and (max-width: 1200px) {


    .about {
        height: 80vh;
        width: 100%;
    }

    .clipped-shape {
        height: 80vh;
        clip-path: none;
        /* Remove the clip-path for smaller screens */
        -webkit-clip-path: none;
    }



    .picture-text-wrapper {
        margin-top: 45px;
        gap: 60px;
    }


    .content-wrap h1 {
        margin-top: 75px;
    }

    .text-container {
        width: 500px;
    }
}

@media only screen and (max-width: 990px) {
    .text-container {
        width: 350px;
    }

    .picture-text-wrapper {
        margin-top: 55px;
        gap: 20px;
    }

    .about {
        height: 87vh;
    }

    .clipped-shape {
        height: 87vh;

    }
}

@media only screen and (max-width: 900px) {
    .text-container {
        text-align: center;
    }
}


@media only screen and (max-width: 768px) {
    .picture-text-wrapper {
        flex-direction: column;
    }

    .about {
        height: 128vh;
    }

    .content-wrap {
        height: 100%;
    }

    .content-wrap h1 {
        margin-top: 0;
    }

    .picture-text-wrapper {
        justify-content: center;
        align-items: center;
    }

    .clipped-shape {
        height: 128vh;
    }

    .text-container {
        width: 600px;
        font-size: 14px;
    }


    .picture-container {
        visibility: visible;
        opacity: 0;
        transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1s cubic-bezier(0.5, 0, 0, 1) 0s;
    }

    .picture-container.visible {
        visibility: visible;
        opacity: 1;
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 1s, transform 1s cubic-bezier(0.5, 0, 0, 1) 1s;

    }

    .text-container {
        visibility: visible;
        opacity: 0;
        visibility: visible;
        opacity: 0;
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 30, 0, 1);
    }

    .text-container.visible {
        visibility: visible;
        opacity: 1;
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 1.5s, transform 1s cubic-bezier(0.5, 0, 0, 1) 1.5s;

    }

}

@media only screen and (max-width: 650px) {
    h1 {
        font-size: 30px;
        margin-top: 0;
    }

    .text-container {
        margin-right: 5%;
        margin-left: 5%;
        width: 90%;
    }

    .picture-text-wrapper {
        margin-top: 0;
    }
}

@media only screen and (max-width: 550px) {
    .picture-container {
        height: auto;
        width: 70vw;
    }

    .text-container {
        height: 70vh;
    }
}