.contact {

    background-color: white;
    height: 66vh;
    position: relative;
    color: antiquewhite;
}

/* affecting only clipped-shape inside contact class */
.contact .clipped-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    background-color: #f0f0f0;
    background-image: linear-gradient(-135deg, #da52fc, #f2ce2e);
    /* Set the same background color as the "about" section */
    -webkit-clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
    /* Adjust the polygon points as needed */
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
}

.contact-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    margin-top: 75px;
    margin-bottom: 20px;
}

.contact h1 {
    transform: rotate(3deg);
    margin-top: -90px;
    font-size: 45px;
}

.contact-wrap h1:first-of-type {
    font-weight: 800;
}

.contact-wrap p:first-of-type {
    font-size: 20px;
    font-weight: 800;
}

.contact-tittle {
    opacity: 0;
}

.contact-tittle.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 0.3s;
}




.contact-wrap p {
    opacity: 0;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 30, 0, 1);
}

.contact-wrap p.visible {
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 0.8s, transform 1s cubic-bezier(0.5, 0, 0, 1) 0.8s;
}

.contact-wrap p:first-of-type {
    font-size: 25px;
    font-weight: 400;
}

.contact-wrap Button {
    opacity: 0;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 30, 0, 1);
}

.contact-wrap Button.visible {
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 0.8s, transform 1s cubic-bezier(0.5, 0, 0, 1) 0.8s;
}



@media only screen and (max-width: 1200px) {
    .contact .clipped-shape {
        -webkit-clip-path: none;
        /* Adjust the polygon points as needed */
        clip-path: none;
    }

    .contact h1 {
        transform: rotate(0deg);
    }
}

@media only screen and (max-width: 990px) {}

@media only screen and (max-width: 900px) {
    /* .contact h1 {
        transform: rotate(3deg);
        margin-top: -90px;
        font-size: 45px;
    } */
}


@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 600px) {
    .contact {
        height: 57vh;
    }

    .clipped-shape.bottom {
        height: 52vh;
    }

    .contact-wrap .contact-tittle {
        font-size: 35px;
        font-weight: 400;
    }

    .contact-wrap p:first-of-type {
        font-size: 20px;
        font-weight: 200;
    }
}

@media only screen and (max-width: 550px) {}