.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
    height: 55vh;
    color: white;

    background-image: url('carbon-fagure.jpg');
    background-repeat: repeat;
    background-size: cover;
    opacity: 0.9;

}

.details {
    text-align: center;
}

.footer hr {
    width: 350px;
    color: white;
}

.social-media-icons {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.lift {
    animation: liftAnimation 1.2s ease-in-out forwards;
}

@keyframes liftAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}


/* .social-media-icons>svg {

    transition: transform 0.3s ease-in-out;
}

.social-media-icons>svg:hover {
    transform: translateY(-5px);
} */