.main-container {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    height: 80vh;
    background-color: red;
    border: 1px white solid;
    margin: 5%;
}


.description-wraper {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 30%;
    background-color: white;
}

.picture-wraper {
    height: 100%;
    width: 60%;
    background-color: white;
}

.project-image {
    width: 100%;
    /* Make the image take up 100% of the width of the parent container */
    height: auto;
    /* Maintain the aspect ratio while adjusting the width */
    max-height: 100%;
    /* Ensure the image doesn't exceed the height of the parent container */
}