.main-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 80vw;
    height: 70vh;
    border: 1px white solid;
    margin: 5%;

    transition: max-height 0.5s ease;
}


.main-container.scrolled {
    display: none;
}


.description-wraper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 60%;
    width: 400px;
    background-color: white;

}

.picture-wraper {
    height: auto;
    width: 700px;
    background-color: white;
}

.project-image {
    width: 100%;
    /* Make the image take up 100% of the width of the parent container */
    height: auto;
    /* Maintain the aspect ratio while adjusting the width */
    max-height: 100%;
    /* Ensure the image doesn't exceed the height of the parent container */
}

.project h1 {
    transform: rotate(5deg);
    background-image: linear-gradient(-135deg, #da52fc, #f2ce2e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.details p {
    font-size: 18px;
}


.description-wraper {
    visibility: visible;
    opacity: 0;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -30, 0, 0, 1);
}

.description-wraper.visible {
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 0.5s, transform 1s cubic-bezier(0.5, 0, 0, 1) 0.5s;
}


.picture-wraper {
    visibility: visible;
    opacity: 0;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 30, 0, 0, 1);
}

.picture-wraper.visible {
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 1s, transform 1s cubic-bezier(0.5, 0, 0, 1) 1s;
}

.title {
    font-size: 20px;
}



@media only screen and (max-width: 1200px) {
    .project h1 {
        transform: rotate(0deg);
    }

    .main-container {
        flex-direction: column;
        align-items: center;
        gap: none;
        width: 100%;
        height: 80vw;
        border: 1px black solid;
        margin: 0%;
    }

    .description-wraper {
        border: 1px solid red;
        width: 70vw;
        height: 30vh;
    }


    .picture-wraper {
        width: 70vw;
        background-color: white;
    }
}


@media only screen and (max-width: 775px) {
    .main-container {

        padding-top: 11vh;

    }
}

@media only screen and (max-width: 680px) {
    .main-container {

        height: 100vh;

    }

    .description-wraper {

        width: 90vw;
        height: 30vh;
        justify-content: flex-end;

    }


    .picture-wraper {
        width: 90vw;
        background-color: white;
    }


}


@media only screen and (max-width: 600px) {
    .main-container {
        padding-top: 0vh;
    }

    .description-wraper {

        width: 85vw;
        height: 25vh;
    }

    .picture-wraper {
        width: 85vw;
    }

    .title {
        font-size: 16px;
    }


}

@media only screen and (max-width: 460px) {
    .description-wraper {
        height: 50vh;
    }
}

@media only screen and (max-width: 350px) {
    .description-wraper {
        height: 55vh;
    }
}