.main-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 80vw;
    height: 70vh;
    border: 1px white solid;
    margin: 5%;
}


.main-container.scrolled {
    display: none;
}


.description-wraper {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 400px;
    background-color: white;

}

.picture-wraper {
    height: auto;
    width: 700px;
    background-color: white;
}

.project-image {
    width: 100%;
    /* Make the image take up 100% of the width of the parent container */
    height: auto;
    /* Maintain the aspect ratio while adjusting the width */
    max-height: 100%;
    /* Ensure the image doesn't exceed the height of the parent container */
}

.project h1 {
    transform: rotate(5deg);
    background-image: linear-gradient(-135deg, #da52fc, #f2ce2e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.details p {
    font-size: 18px;
}